html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F8ECEC;
	color: #000000;
	padding: 0px;
	margin: 0px;
	height:100%;
}
div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form{
	margin: 0px;
}
.main {
	width: 1497px;
	margin: 0px auto;
}
.page {
	width: 1495px;
	float: left;
	border-top: solid 8px #000000;
	border-right: solid 1px #000000;
	border-bottom: solid 2px #000000;
	border-left: solid 1px #000000;
  	margin-bottom: 50px;
	min-height:100%;
    position:relative;
}
.header {
	width: 1495px;
	float: left;
}
.header-img {
	width: 1495px;
	height:161px;
}
.header-img-left {
	width: 277px;
	float: left;
	background:url("#{resource['images:left_header.jpg']}") no-repeat left top;
	height:161px;
}
.header-img-right {
	width: 274px;
	float: left;
	background:url("#{resource['images:right_header.jpg']}") no-repeat right top;
	height:161px;
}
.header-img-middle {
	width: 944px;
	float: left;
	background:url("#{resource['images:middle_header.jpg']}") repeat-x left top;
	height:161px;
}
.header-img-middle h1 {
	padding: 50px 0px 0px 350px;
	margin: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	text-decoration:none;
	font-weight:normal;
	}
	
.topmenu {
	text-align: center;
	width: auto;
	height: 53px;
	float: left;
}

.userview {
	text-align: center;
	/*width: 395px;*/
	width: auto;
	height: 53px;
	float: right;
}
 
.topmenuuser{
	height: 53px;
	background-image: url("#{resource['images:menubg.jpg']}");
	background-repeat: repeat-x;
	background-position: left top;
	width: 100%;
}

.topmenu ul {
	margin:0px;
	padding:0px 0px 0px 10px;
	list-style:none;
}
.topmenu ul li {
	margin:0px;
	padding:0px 21px 0px 21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	float:left;
	display:block;
	line-height:53px;
	background:url("#{resource['images:divider.jpg']}") no-repeat left top;
}
.topmenu ul li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}
.topmenu ul li a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f37126;
	text-decoration:none;
	font-weight:bold;
}

.addressview {
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: #C9C9C9;
}

.mid {
	margin:0px;
	padding:0px 0px 20px 0px;
	width: 1495px;
	float: left;
}
.mid-left {
	margin:0px;
	padding:0px;
	width:291px;
	float:left;
	}
.mid-right {
	margin:0px;
	padding:0px;
	width:1204px;
	float:left;
	}
.mid-left-top {
	margin:0px;
	padding:0px;
	width:291px;
	float:left;
	}
ul.left-nav {
	margin:0px;
	padding:20px 40px 20px 40px;
	list-style:none;
	}
ul.left-nav li {
	margin:0px;
	padding:8px 0px 8px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration:none;
	font-weight:normal;
	border-bottom:1px solid #e0e0e0;
	line-height:18px;
	}
ul.left-nav li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration:none;
	font-weight:normal;
	}
ul.left-nav li a:hover {
	color: #000000;
	text-decoration:none;
	font-weight:normal;
	}
.gap-1 {
	margin:0px;
	padding:25px 20px 20px 20px;
	}
.bord-1 {
	margin:0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #e0e0e0;
	}
.copyright {
	border:0px;
	height:1px;
	width:1px;
}
h1 {
	margin:0px;
	padding:7px 0px 7px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #d8141d;
	text-decoration:none;
	font-weight:normal;
	line-height:30px;
	text-transform:uppercase;
	}
h2 {
	margin:0px;
	padding:30px 0px 5px 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	text-decoration:none;
	font-weight:normal;
	line-height:24px;
	text-transform:uppercase;
	}
p.txt-1 {
	margin:0px;
	padding:7px 0px 7px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration:none;
	font-weight:normal;
	line-height:18px;
	}

.footer {
	margin:0px;
	width: 1495px;
	float: left;
	position:absolute;
   	bottom:0;
   	height:39px;   /* Height of the footer */
	background:#222223;
}
p.copyright-text {
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-align:center;
	text-decoration:none;
	font-weight:normal;
	line-height:10px;
	}
.footer-link {
	color:#ffffff; 
	text-decoration:none; 
}
